@media print {
    .navbar, .recipes-container,
    .btn-haut, .page-footer, {
     display: none;
    }
    .recipe-hero-img
    {
      width: 50%;
      height: auto;
      
    }
    .recipe-hero-img img{
      width: 100%;
      height: 100%;
      background : #631818;
    }
